/* Анимация 1 Блок */

@keyframes toggle {
    from {
        margin-left: 5px;
    }

    to {
      margin-left: 35px;
    }
  }

  @keyframes toggle-bgc {
    from {
        background-color: #343a40;
    }

    to {
        background-color: green;
    }

  }


  /* Анимация 2 блок */

  @keyframes product {
    from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
  }

  @keyframes productOther {
    from { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
    to   { transform: rotate(0deg) translateX(20px) rotate(0deg); }
  }

  

  .text-typing
  {
      width: 100%;
      margin: 0px auto 25px auto;
      color: white;
      text-align: center;
      font-size: 180%;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: type 5s steps(50, end);
      animation: type 5s steps(50, end);
  }
  
  @keyframes type{
      from { width: 0; }
  }
  
  @-webkit-keyframes type{
      from { width: 0; }
  }

  .color-white {
      color: white;
  }

  


/* ind.html */
.toggle-block {
    height: 650px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.block {
    width: 300px;
    height: 200px;
    background-color: #c2c2c2;
}

.left {
    margin: 50px auto 50px 20px;
}

.right {
    margin: 50px 20px 50px auto;
}

.toggle-main {
    align-items: center;
    justify-content: center;
}

.toggle-letter {
    padding: 0 4px;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.toggle {
    background-color: #343a40;
    border-radius: 30px;
    width: 70px;
    height: 40px;
    display: flex;
    align-items: center;
    animation: toggle-bgc 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;

}

.toggle-circle {
    background-color: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    animation: toggle 1s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
.black {
    background-color: black;
}

.black-secondary {
    background-color: rgba(0, 0, 0, 0.8);
}

.problem-left {
    padding: 50px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img-respons {
    width: 70%;
    height: auto;
}
.problem-title {
    text-align: center;
}

.flex-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
}

.product-block {
    display: flex;
    justify-content: space-around;
}

.product {
    background-color: #b0252a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 75px;
    width: 75px;
    border-radius: 55px;
}
.product-color {
    color: #b0252a;
}
.cPlace  {
    animation: product 4.8s linear infinite;
}
.cTravel {
    animation: product 7s linear infinite;
}
.cChat {
    animation: product 4.7s linear infinite;

}
.cFilm  {
    animation: productOther 5s linear infinite;

}
.cBook {
    animation: productOther 4s linear infinite;

}

/* app */

.app {
    display: flex;
    align-items: center;
    letter-spacing: 7px;
}


.app-single {
    height: 70vh;
    padding: 30px 20% 30px 0;
    justify-content: center;
}
.app-title {
    font-size: 90px;
    font-weight: 400;
}


.app-subtitle {
    display: flex;
    justify-content: center;
    font-size: 32px;
    letter-spacing: 3px;
    padding-right: 5%;
}
.app-subtitle a {
    padding-top: 20px;
    font-size: 20px;
}

.app-double {
    height: 650px;
    flex-direction: column;

}

.app-double-title {
    padding-top: 240px;
    padding-bottom: 140px;
    font-size: 72px;
}


.app-cfilm {
    background-color: white;
    background-image: url(file:///Users/macbook/Documents/programming/coolChoice_%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BA%D0%B0/img/cfilm.jpg);
    background-size: 65% 50%;
    background-repeat: no-repeat;
    background-position: -10% 31%;
}

.app-cbook {
    background-color: #E5DFD3;
    background-image: url(file:///Users/macbook/Documents/programming/coolChoice_%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BA%D0%B0/img/cbook.jpg);
    background-size: 60% 75%;
    background-repeat: no-repeat;
    background-position: -20% 20%;
}

.app-ctravel {
    background-color: #E5DFD3;
    background-image: url(file:///Users/macbook/Documents/programming/coolChoice_%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BA%D0%B0/img/cTravel.jpg);
    background-size: 50% 38%;
    background-repeat: no-repeat;
    background-position: -3% 39%
}
.app-cchat {
    background-color: white;
    background-image: url(file:///Users/macbook/Documents/programming/coolChoice_%D0%B2%D0%B5%D1%80%D1%81%D1%82%D0%BA%D0%B0/img/cchat.jpg);
    background-size: 45% 45%;
    background-repeat: no-repeat;
    background-position: 0% 30%;
}

.app-cbook-title {
    padding-left: 32%;
}



/* Блок поддержка */

.support {
    padding: 20px 0;
}

.support-title {
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: 600;
}
.support-list {
}
.support .row {
    margin-top: 60px;
}
/* FEEDBACK */

.feedback {
    padding-left: 15px;
}
.support-subtitle {
    font-size: 24px;
    font-weight: 500;
    height: 20vh;
}
form.feedback {
    max-width: 400px;
}





.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.logo {
    height: auto;
    width: 67%;
}
.footer-subtitle {
    color: white;
    font-size: 20px;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

ul {
    list-style-type: none;
    padding: 0;
}   

li {
    margin-bottom: 20px;
    font-size: 20px;
}

a {
    color: #c4494d;
}

.btn-firm {
    background-color: #b0252a;
    color: white;
}
.bg-nav {
    background-color: rgba(0,0,0,0.8)
}
.nav-item {
    padding-right: 8%;
}

.card-toggle {
    padding: 1% 2%;
}
.option {
    font-size: 20px;
}
.option:hover {
    text-decoration: none;
}
.card {
    border-radius: 0%;
}

.choose-time {
    display: flex;
    align-items: baseline;
}
.label-time {
    width: 35px;
}
.label-time-to {
    margin-left: 3%;
}



@media (max-width: 768px) {
    #add-place {
        flex-direction: column;
    }
    .btn-add {
        margin-top: 20px;
    }
}

@media (max-width: 507px) {
    .text-typing {
        white-space: normal;
        animation: none;
        -webkit-animation: none;
    }
}